:root {
  /* Defaults */
  --default-font-family: "Work Sans", sans-serif;
  --default-font-size: 18px;
  --default-color: #333;
  --default-background: white;

  /* Links */
  --link-color: #0075b0;
  --link-color-hover: #1fb4ff;

  /* Code related */
  --code-font-family: "PT Mono", monospace;
  --code-font-size: 0.95rem;
  --code-color: black;
  --code-background: #f7f6e9;
  --code-padding: 0.2rem 0.3rem;

  /* Container */
  --container-width: 30rem;

  /* Header/brand */
  --brand-link-color: #444;
  --brand-link-color-hover: #222;

  /* Headings */
  --heading-font-family: "Fira Sans", sans-serif;
  --heading-link-color: black;
  --h1-font-size: 2.7rem;
  --h1-margin: 0 0 2rem 0;
  --h2-font-size: 2.1rem;

  --paragraph-margin: 2rem 0;
  --paragraph-line-height: 1.8;

  --footer-link-color: #777;
  --footer-link-color-hover: var(--link-color);
}

@media only screen and (max-width: 600px) {
  :root {
    /* --default-font-size: 15px; */
  }
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --default-color: #ccc;
    --default-background: #1d1f21;

    --brand-link-color: #aaa;
    --brand-link-color-hover: #eee;

    --heading-link-color: #ccc;
  }
}

html {
  font-size: var(--default-font-size);
}

body {
  color: var(--default-color);
  background-color: var(--default-background);
  font-family: var(--default-font-family);
  font-weight: 300;
  margin: 0;
  padding: 0 0 6rem 0;
}
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}
h1 a,
h2 a,
h3 a {
  color: var(--heading-link-color);
}

p {
  margin: var(--paragraph-margin);
  line-height: var(--paragraph-line-height);
}
b,
strong {
  font-weight: 500;
}

main {
  margin: 3rem auto;
  max-width: var(--container-width);
}

header {
  margin-bottom: 3rem;
  text-align: center;
}
header h1 {
  font-family: var(--heading-font-family);
  font-size: var(--h1-font-size);
  font-weight: 800;
  color: var(--heading-color);
  margin: 0;
}
header figure {
  margin-bottom: 2rem;
}
header figure img {
  border-radius: 50%;
}

content {
  text-align: justify;
}
content a {
  color: var(--link-color);
  font-weight: 500;
  text-decoration: none;
}
content a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

footer {
  margin: 3rem 0;
}
footer p {
  margin: 0.25rem 0;
}
footer a {
  display: flex;
  color: var(--footer-link-color);
  align-items: center;
  text-decoration: none;
  font-size: var(--font-size-lg);
}
footer a:hover {
  color: var(--footer-link-color-hover);
}
footer a i {
  margin-right: 1rem;
}
footer a span {
  font-size: var(--font-size-md);
}
