
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2>Find Me</h2>
            <a href="https://github.com/danawoodman">Github</a>
            <a href="https://news.ycombinator.com/user?id=danaw">Hacker News</a>
            <a href="http://stackoverflow.com/users/529829/dana-woodman">StackOverflow</a>
            <a href="http://teleporter.io">Teleporter</a>
            <a href="http://chimeraarts.org">Chimera Art Space</a>
          </div>
          <div class="col-sm-6">
            <h2>Contact Me</h2>
            <p>If you'd like to chat, you can email me at <a href="mailto:dana@danawoodman.com">dana@danawoodman.com</a></p>
          </div>
        </div>
      </div>
    </footer>

    {{ template "chrome/scripts.html" . }}
  </body>
</html>
