
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="logo"><a href="/">Dana Woodman</a></h1>
        <p class="lead">
          I'm a  <a href="https://github.com/danawoodman">software developer</a>, 
          <a href="http://chimeraarts.org">community builder</a> and 
          <a href="http://teleporter.io">entrepreneur</a>.
          I've been writing software for the web since 2002. 
          I hail from beautiful <a href="http://en.wikipedia.org/wiki/Sonoma_county">Sonoma County, California</a>.
        </p>
        <p>
          <a href="https://github.com/danawoodman"><i class="fa fa-github"></i></a>
        </p>
      </div>
      <div class="col-sm-4">
        <img src="/static/img/dana-woodman.jpg" class="avatar">
      </div>
  </div>
</header>
