{{ template "chrome/header.html" . }}

  <div class="top-section">
    <div class="container">
      <header class="page-head">
        <img src="/static/img/dana-woodman.jpg" alt="Dana Woodman" class="avatar">
        <h1 class="page-header">
          <small>My name is</small>
          Dana Woodman
        </h1>
      </header>
    </div>
  </div>

  <div class="leader">
    <div class="container">
      <p class="lead">
        I'm a  <a href="https://github.com/danawoodman">software developer</a>, 
        <a href="http://chimeraarts.org">community builder</a> and 
        <a href="http://teleporter.io">entrepreneur</a>.
        I've been writing software for the web since 2002. 
        I hail from beautiful <a href="http://en.wikipedia.org/wiki/Sonoma_county">Sonoma County, California</a>.
      </p>
    </div>
  </div>

  <div class="about-block">
    <div class="container">
      <h2>Software Development</h2>
      <p>
        I've worked with companies large and small; from <em>Google</em> and <em>Comcast</em>, 
        to "mom-and-pop" shops and a lot in between. Every project presents unique challenges 
        and opportunities to grow. <em>That's what keeps me excited about 
        writing software</em>.
      </p>
      <p>
        I primarily write web applications in Ruby on Rails but I also use Node.js, 
        Golang and others if the need arises. I have years of experience in Ruby, Python,
        JavaScript, CSS/Sass and many other web technologies.
      </p>
      </p>
      <p>
        I've just started making screencasts teaching software development, 
        <a href="http://thesourcetank.com">check them out</a>.
      </p>
      <h2>Other Things</h2>
      <p>
        In my spare time I spend a lot of time in the outdoors hiking, 
        camping, running and exploring.
        I studied fine arts in college (painting and photography) and have a 
        passion for creating things with my hands.
      </p>
      <p>
        In early 2012, I started a project to create the <em>first arts and maker space in 
        Sonoma County</em> and am happy to say that it is alive and well. 
        We regularly host classes, events and meetups and our membership is growing rapidly.
      </p>
    </div>
  </div>

  <div class="links-block">
    <div class="container">
      <h2>Find Me</h2>
      <a href="https://github.com/danawoodman">Github</a>
      <a href="https://news.ycombinator.com/user?id=danaw">Hacker News</a>
      <a href="http://stackoverflow.com/users/529829/dana-woodman">StackOverflow</a>
    </div>
  </div>
  
  <div class="contact-block">
    <div class="container">
        <h2>Contact Me</h2>
        <p>If you'd like to chat, you can email me at <a href="mailto:dana@danawoodman.com">dana@danawoodman.com</a></p>
    </div>
  </div>

{{ template "chrome/footer.html" . }}
